.about-section {
    text-align: left;
    padding: 50px 20px;
    /* background: linear-gradient(to right, #2a2a5e, #1e1e3f); */
    color: white;
    /* min-height: 100vh; */
    overflow: hidden;
}

.about-section h2 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    margin-bottom: 2rem;
    color: #bb99ff;
    text-transform: uppercase;
    letter-spacing: 2px;
}

@media screen and (max-width: 575px) {
    .about-section h2 {
        font-size: 32px;
    }
  }

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 2rem;
}

.card {
    background-color: #34346d;
    border-radius: 15px;
    padding: 2rem;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    overflow: hidden;
    position: relative;
}

.card:hover {
    transform: translateY(-10px);
}

.card-tag {
    background-color: #bb99ff;
    width: fit-content;
    font-weight: 600;
    padding: 5px 25px;
    border-radius: 15px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 0.9rem;
    color: #fff;
}

.card-header {
    font-size: 28px;
    margin-top: 1.5rem;
    font-weight: 700;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.card-content {
    font-size: 16px;
    line-height: 1.8;
    font-family: 'Poppins', sans-serif;
    color: #c6abff;
}

.additional-content, .testimonial-section {
    margin-top: 4rem;
    padding: 2rem;
    background-color: #2a2a5e;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    color: #fff;
}

.additional-content h3, .testimonial-section h3 {
    font-size: 32px;
    margin-bottom: 1rem;
    color: #bb99ff;
    text-transform: uppercase;
}

.additional-content p, .testimonial p {
    font-size: 18px;
    line-height: 1.7;
    font-family: "Poppins", sans-serif;
    color: #c6abff;
}

.testimonial {
    margin-top: 2rem;
    padding: 1.5rem;
    background-color: #3d3d85;
    border-radius: 10px;
    font-style: italic;
    font-family: 'Georgia', serif;
}

.testimonial strong {
    display: block;
    margin-top: 1rem;
    color: #bb99ff;
}
