.user-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(117, 81, 151);
    padding: 10px;
    color: white;
}

.user-navbar ul{
    display: flex;
    list-style: none;
}

.user-navbar li{
    margin: 0px 10px;
    text-decoration: none;
}

.user-navbar button{
    border-radius: 8px;
    padding: 6px;
}

.user-nav-mid a{
        font-size: 14px;
        text-align: center;
        border-radius: 20px;
        padding: 8px 20px;
        color: rgba(255, 255, 255, 0.96);
        margin-top: 8px;
        text-decoration: none;
        background: linear-gradient(0deg,
                rgba(94, 94, 94, 0.07),
                rgba(94, 94, 94, 0.08)),
            rgba(255, 255, 255, 0.08);
        background-blend-mode: color-dodge, lighten;
        display: block;
        bottom: 0;
}

.user-nav-mid a:active {
    font-weight: bold;
    color:rgb(117, 81, 151);
}