@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  /* background: #080520; */
  background: linear-gradient(135deg, #451a60, #8e44ad);
}

.logo-icon {
  margin-right: 5px;
}